:root {
    /* colors */
    --red: #F2545B;
    --purple: #C3BEF7;
    --blue: #02A9EA;
    --green: #6CCC74;
    --yellow: #F1D302;
    --orange: #EC9703;
    /* shades */
    --base: #FFFFFF;
    --mantle: #F2F2F2;
    --crust: #E4E4E4;
    --overlay: #D6D6D6;
    --outline: #66666E;
    /* text colors */
    --text: #242427;
    --hltext: #FFFFFF;
    --text-on-red: var(--hltext);
    --text-on-purple: var(--text);
    --text-on-blue: var(--hltext);
    --text-on-green: var(--hltext);
    --text-on-orange: var(--hltext);
    --text-on-yellow: var(--text);
    --text-on-base: var(--text);
    --text-on-mantle: var(--text);
    --text-on-crust: var(--text);
    --text-on-overlay: var(--text);
    --text-on-outline: var(--hltext);
}